<div class="list-group-item clearfix">
    <div class="pull-left">
      <h4 class="list-group-item-heading">{{ project.projectName }}</h4>
    </div>
    <br>
    <div class="pull-center">
      <h4 class="list-group-item-heading">{{ project.projectType }}</h4>
    </div>

    <div class="pull-right">
      <button type="button" class="btn btn-info">
        <a style="cursor: pointer;"
        (click)="onEditProject()" routerLinkActive="active">Edit</a>
      </button>
    <button type="button" class="btn btn-danger">
        <a style="cursor: pointer;"
        (click)="onDeleteProject()" routerLinkActive="active">Delete</a>
      </button>
    </div>
  </div>
